@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

body {
  overflow: hidden;
}

.App {
  height: 100vh;
}
