.MenuItem {
  color: #fff;
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 20px 20px;
  font-size: 1rem;
  transition: visibility 0s, opacity 0.5s linear;
  .MuiSvgIcon-root {
    padding: 0px 10px;
  }
  &:hover {
    background-color: #f07c41;
  }
  a {
    transition: visibility 0s, opacity 0.5s linear;
    text-decoration: none;
    color: #fff;
  }
}

.signout {
  background-color: #f07c41 !important;
}
